In [7]:
from scipy import stats
stats.spearmanr([1,1,1,5,4], [1,2,3,4,5])

SpearmanrResult(correlation=0.7826237921249264, pvalue=0.11761376087345808)

In [8]:
# dataframe Version도 있음

In [26]:
import pandas as pd
df = pd.DataFrame(
    [
        (1, 5), 
        (1, 6), 
        (2, 7), 
        (4, 8)
    ], columns=['dogs', 'cats'])

In [27]:
df

   dogs  cats
0     1     5
1     1     6
2     2     7
3     4     8

In [28]:
df.corr(method='spearman')

          dogs      cats
dogs  1.000000  0.948683
cats  0.948683  1.000000